.benefits-screen {
  background: $color-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-screen__box {
  background: $color-white;
  margin-bottom: 37px;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
}

.benefits-screen__box.box-2 {
  flex-direction: row-reverse;
}

.benefits-screen__box__container {
  display: flex;
  margin-bottom: 68px;
}

.benefits-screen__box__text {
  display: flex;
  flex-direction: column;
  width: 416px;

}

.benefits-screen__box__text.text {
  margin-left: 35px;
  margin-top: 91px;
}

.benefits-screen__box__text > h2 {
  margin-bottom: 30px;
  font-size: 36px;
  text-align: left;
}

.box-2 > .text > h2 {
  margin-right: 170px;
}

.benefits-screen__box__text.text > p {
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.benefits-screen__box__text.text.last {
  width: 553px;
}

.benefits-screen__box__text.text.last > h2 {
  margin-right: 206px;
}

.benefits-screen__box__text.text.last > p {
  margin-right: 34px;
}

.border-red {
  width: 328px;
  height: 4px;
  background-color: #FB3B64;
  margin-bottom: 91px;
}

.border-blue {
  width: 328px;
  height: 4px;
  background-color: $color-primary;
  margin-bottom: 91px;
}

.border-green {
  width: 328px;
  height: 4px;
  background-color: $color-green;
  margin-bottom: 55px;
}

.benefits-screen__box.box-1 {
  margin-top: 105px;
}

.benefits-screen__color {
  position: relative;
}

.mac {
  transform: rotate(45deg);
  right: 20px;
  top: -70px;
}

.iphone {
  left: 10px;
  top: 20px;
}

.trumpet {
  top: 98px;
  left: 62px;
}

.benefits-screen__img {
  position: absolute;
}

.red-rectangle {
  background: $color-redish;
  width: 180px;
  height: 180px;
  border-radius: 41px;
  transform: rotate(-45deg);
  margin-top: 70px;
  margin-right: 100px;
}

.blue-circle {
  background: #07ACE6;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 70px;
}

.green-square {
  background: $color-green;
  width: 440px;
  height: 370px;
  border-radius: 5px;

}

.box-3a {
  margin-right: 60px;
}