.container-3 {
  margin: 0 auto;
  max-width: 896px;
}

.contact-screen {
  display: flex;
  margin-bottom: 59px;
}

.contact-screen__info {
  width: 50%;
}

.contact-screen__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-screen__title {
  font-size: 49px;
  margin-bottom: 22px;
}

.contact-screen__message {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 42px;
  font-size: 16px;
}

.contact-screen__contact {
  color: $color-grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: flex;
}

.contact-screen__contact > p {
  display: flex;
  align-items: center;
}

.contact-screen__contact > .mail::before {
  content: url("../image/Mail Icon.svg");
  display: flex;
  margin-right: 10px;
}

.contact-screen__contact > .number::before {
  content: url("../image/Phone Icon.svg");
  display: flex;
  margin: 0 10px 0 20px;
}

.contact-screen__form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"] {
  height: 57px;
  width: 440px;
  border: none;
  border-bottom: 1px solid $color-grey;
  padding-bottom: 43px;
}

input[type="text"] {
  margin-bottom: 43px;
}

input[type="email"] {
  margin-bottom: 30px;
}

input::placeholder {
  color: $color-primary;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 3.28px;
}

.checkbox {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #707070;
  margin-bottom: 20px;
  line-height: 1.5;
  display: flex;
  cursor: pointer;
  max-width: 440px;
}

input[type="submit"] {
  width: 226px;
  height: 57px;
  align-self: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
  box-shadow: 5px 10px 14px #07ACE629;
  background: $color-primary;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
}

input[type="submit"]:hover {
  background: white;
  color: $color-primary;
  border: 1px solid $color-primary;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox input:checked + span {
  background: url("../image/Checkmark.svg") no-repeat center;
}
