.grid {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  //padding: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    $columns: 12;
    $column-base-width: 100% / $columns;
    [class*='col-'] {
      min-height: 1px;
      width: $column-base-width;
      padding: 12px; // gutters
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $column-base-width * $i;
      }
    }

    @media (max-width: 768px) {
      [class*='col-'] {
        width: 100%;
        padding: 0;
        margin: 2.5em 0;

      }
    }
  }
}