.opening-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening-screen__title {
  margin-bottom: 20px;
  font-size: 49px;
}

.opening-screen__text {
  margin-bottom: 38px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.opening-screen__button-cta {
  padding: 22px 157px;
  background: $color-primary;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  color: $color-white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
  margin-bottom: 16px;
}

.opening-screen__button-cta:hover {
  background: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
}

.opening-screen__background {
  position: relative;
}

.opening-screen__background-image {
  width: 100%;
}

.blank {
  background: $color-white;
  width: 100%;
  height: 78px;
  position: absolute;
  bottom: 9px;
  box-shadow: 0 -80px 80px #00000029;
}